@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>This website is used to mine box office movie data for use in the <a href="https://fantasymovieleague.com/" target="_blank">Fantasy Movie League</a>  game.
Since I have <strong>NO</strong> idea how to pick movies I figured I would rely on the "experts" and weigh their data so I can make my own guess on the weekend box office.</p>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/MooveePicker" target="_blank">
			<img src="~/Images/GitHub-Mark-32px.png">
		</a>
	</div>
	<div class="col-md-5">This site's code lives on GitHub.  So &lt;meta/&gt;</div>
</div>
