@model  MoviePicker.WebApp.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<table class="table">
	<thead>
		<tr>
			<th>Movie</th>
			@foreach (var miner in Model.Miners)
			{
				<th>@miner.Abbreviation</th>
			}
		</tr>
	</thead>

	<tbody>
		@foreach (var movie in Model.Miners.First().Movies)
		{
			<tr>
				<td>@movie.Name</td>

				@foreach (var miner in Model.Miners)
				{
					var minerMovie = miner.Movies.FirstOrDefault(item => item.Name == movie.Name);

					<td>@string.Format("{0:N0}", minerMovie?.Earnings)</td>
				}
			</tr>
		}
	</tbody>
</table>