@model MoviePicker.WebApp.ViewModels.MorePicksViewModel

@{
	ViewBag.Title = "More Picks";
}

<h2>
	@ViewBag.Title
	<div class="btn btn-info btn-xs" style="font-size: large;" data-toggle="tooltip" data-placement="bottom"
		 title="I'm still not sold as to why the 2nd, 3rd, etc. slots are valuable, but here you go...
		Oh sure, the loser places are somewhat interesting, but if you're CONFIDENT
		with your numbers then that's all they are...  Lineups that will lose.
		There are two tables that show the picks WITH the bonus ON and with it turned off.
		The third table shows how the efficiencies stack up.  REMEMBER, these are YOUR numbers.
		The last table only takes the top 5 ranked by efficiency and shows in red what percentage that movie has to drop in order to be overtaken by second place.
		The other percentages are the values that those movies would have to GAIN if the top ranked movie held its number.
		I feel like this table is more helpful that knowing what the 2nd, 3rd, etc. slots will be.
		This may sway your decision on what your bonus movie might be.">
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
	</div>
</h2>

<h5>(@Model.Duration.ToString("N0") ms)</h5>

<h3>Bonus ON</h3>

<div class="row">
	@foreach (var movieList in Model.MorePicks)
	{
		<div class="col-md-6">
			@Html.Partial("MovieListMini2", movieList)
		</div>
	}
</div>

<div class="row-divider"> </div>

<h3>Bonus OFF</h3>

<div class="row">
	@foreach (var movieList in Model.MorePicksBonusOff)
	{
		<div class="col-md-6">
			@Html.Partial("MovieListMini2", movieList)
		</div>
	}
</div>
