@model MoviePicker.WebApp.Models.MorePicksViewModel

@{
	ViewBag.Title = "More Picks";
}

<h2>@ViewBag.Title</h2>
<h5>(@Model.Duration.ToString("N0") ms)</h5>

<h3>Bonus ON</h3>

<div class="row">
	@foreach (var movieList in Model.MorePicks)
	{
		@Html.Partial("MovieListMini", movieList)

		<div class="clearfix"> </div>
	}
</div>

<div class="row-divider"> </div>

<h3>Bonus OFF</h3>

<div class="row">
	@foreach (var movieList in Model.MorePicksBonusOff)
	{
		@Html.Partial("MovieListMini", movieList)

		<div class="clearfix"> </div>
	}
</div>