@model MoviePicker.WebApp.Models.SharePicksViewModel

@{
	ViewBag.Title = "Share Picks";
}

<h2>@ViewBag.Title</h2>

<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-6">
		<img class="img-responsive" src="~/Images/@Model.ImageFileName" />
	</div>
</div>