body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.movie-card-spacing {
	border-style: none;
	border-width: thick;
}

/* Put stuff in this class style for later use. */

.movie-holding-pen {
	margin: 5px 5px 5px 5px;

	padding: 5px;
}

.movie-card {
	background-color: lightyellow;

	border-style: solid;
	border-width: thin;
	border-color: grey;
	border-radius: 5px;

	padding: 5px;
}

.row-divider {
	height: 20px;
}