body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

.chart-responsive {
	width: 100%;
	min-height: 200px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/* Put stuff in this class style for later use. */

.movie-holding-pen {
	margin: 5px 5px 5px 5px;
	padding: 5px;
}

.movie-card {
	background-color: lightyellow;
	border-style: solid;
	border-width: thin;
	border-color: grey;
	border-radius: 3px;
	padding: 3px;
}

.movie-card-mini {
	border-radius: 3px;
	padding: 3px;
}

.movie-card-spacing {
	border-style: none;
	border-width: thick;
}

.movie-card-title {
	background-color: khaki;
	border-style: solid;
	border-width: thin;
	font-size: medium;
	font-weight: bold;
	padding-left: 5px;
	padding-left: 5px;
}

.movie-twitter-summary {
	border-style: solid;
	border-width: thin;
	border-color: gray;
	border-radius: 10px;
}

/* Set for responsive charts */

.row {
	margin: 0 !important;
}

.row-divider {
	height: 20px;
}

/* The sticky class is added to any content with Javascript when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
}

.tooltip-extra {
	max-width: 400px;
	padding: 3px 8px;
	color: #fff;
	text-align: left;
	background-color: #000;
	border-radius: 4px;
}

.vertical-slider {
	direction: rtl; /* Reverse - Max is at the top. */
	writing-mode: vertical-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 10px;
	height: 210px;
	padding: 0 5px;
}

/*
	Attempt to style the slider here...

	https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/

	Attempting to swap values for "vertical" scroll bars.
*/