@{
	ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p><a href="http://checkoutmystuff.net/Home/Contact" target="_blank">Parker Smart</a> on my Check Out My Stuff site.</p>
<p>
	Be patient, that site is hosted on GoDaddy PLEX servers which are decent but takes some time to fire up if you're the first to hit the site in a while.
	If you feel like <strong>donating</strong>, you can do that there too.
	All of my Linked In, Twitter, Facebook, as well as other projects that I spend my time on is in a link there too.
</p>