@using MoviePicker.WebApp.Models

@{
	ViewBag.Title = "Donation / Contact";
}
<h2>@ViewBag.Title Parker Smart</h2>

<div class="row">
	<div class="col-sm-1">
		<a class="btn btn-default btn-lg" href="mailto:psmart@spilledmilk.com">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true" />
		</a>
	</div>

	<div class="col-sm-4">
		Feel free to send me enhancement requests and/or bug reports. Click the email button or DM me on Twitter.
		<br /><br />
		Thank you.
		<br /><br />
		<strong>I GOT MY FIRST TIP!</strong> (01-02-2020) Click <strong><a href="http://PayPal.me/SpilledMilk">HERE</a></strong> or the tip jar to send a tip.
		<br /><br />
		Again... THANK YOU!
	</div>

	<div class="col-sm-2">
		<a href="http://PayPal.me/SpilledMilk">
			<img alt="Tips are greatly appreciated" src="~/Images/Tips.jpg" height="200" />
		</a>
	</div>

	<div class="col-sm-4">
		<p>
			Been using <strong> @Constants.APPLICATION_NAME</strong> for long?  Has it saved you time?
			Use the Twitter summary card feature to make your tweets look AMAZING? (I think I'm the only one that does that.)
			Send a little or send a LOT. Or send nothing. I'll keep this site going as long as I can.
		</p>
	</div>
</div>