@model MoviePicker.Common.MovieList

<div class="col-sm-3">
	<h4>Total Cost (BUX): @Model.TotalCost</h4>
</div>
<div class="col-sm-6">
	<h4>Total Earnings: $@Model.TotalEarnings.ToString("N0")</h4>
</div>

<table class="table">
	<thead>
		<tr>
			<th>BUX</th>
			<th>Movie</th>
			<th style="text-align: right">Earnings</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var pick in Model.Movies)
			{
			<tr>
				<td style="text-align: right">@pick.Cost</td>
				<td>@pick.Name</td>
				<td style="text-align: right">$@pick.Earnings.ToString("N0")</td>
			</tr>
			}
	</tbody>
</table>